body {
  margin: 0;
  padding: 0;
  width: 100vw; 
  height: 100vh; 
  box-shadow: inset 0 0 15px rgba(255, 0, 0, 0.5); 
  background-image: url('./img/pink-brick-wall.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.App {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.game {
  width: 560px;
  height: 560px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  border: solid;
  border-color: rgba(198, 255, 26);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 6% 92% 6%/4% 95% 4% 95%;
  transform: rotate(2deg);
  box-shadow: inset 0 0 30px rgba(198, 255, 26); 
  overflow: hidden;
  cursor: pointer;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr)); 
  justify-items: center; 
  align-items: center; 
  margin: 0 auto; 
}

.game .image-container {
  flex: 0 0 calc(12.5% - 20px); 
  max-width: calc(10.5% - 16px); 
  margin: 10px; 
}

.game img {
  width: 100%;
  height: auto; 
}

.scoreBoard {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  font-family: "Fasthand", cursive;
  color: rgba(198, 255, 26);
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; 
  border: solid;
  border-color: rgba(198, 255, 26);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  box-shadow: inset 0 0 10px rgba(198, 255, 26);
  font-size: 18px;
}

.reset{
    margin-left: 20px;
    cursor: pointer;
    color: rgba(198, 255, 26);
    font-size: 20px; 
}

.boreScoard {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}



@media screen and (min-width: 360px) and (max-width: 660px) {
  .App {
    padding-top: 2px;
    width: 280px; 
    height: 600px; 
    margin: 0 auto; 
  }

  .game {
    margin-right: 5px; 
    margin-left: 5px; 
  }

  .scoreBoard .heading,
  .scoreBoard .score {
    font-size: 12px; 
  }

  .scoreBoard{
    margin-top: 0;
  }

  .game .image-container {
    .game .image-container {
      margin: 10px;
      max-width: calc((80vw - 20px) / 8 - 5px); 
      max-height: calc((80vh - 20px) / 8 - 5px); 
    }
  
}}